<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/css/home/order.css'>
</head>
<body>
    <div>
        <header>
            <h1 class="logo">JamBucks' 음료</h1>
        </header>
            <nav class="category-navbar">
                <div class="category-box">
                    <h2>카테고리</h2>
                    <div class="checkbox-container">
                        <label><input type="checkbox">전체 상품보기</label>
                        <label><input type="checkbox">에스프레소</label>
                        <label><input type="checkbox">프라푸치노</label>
                        <label><input type="checkbox">블렌디드</label>
                        <label><input type="checkbox">티</label>
                        <label><input type="checkbox">디저트</label>
                    </div>
                </div>
            </nav>
        <main class="main">
            <div class="menu-container">
                <ul class="menu-list">

                </ul>
            </div>
        </main>
    </div>

    <script type="module" src="/js/home/order.js"></script>
</body>
</html>